<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/common.css">
    <link rel="stylesheet" href="../../assets/css/sub.css">
    <title>Mysite</title>
</head>
<body>

<div id="wrapper">
    <div class="wrap">
        
        <header id="header">
            <div class="header_inner clearfix">
                <h1>
                    <a href="">MySite</a>
                </h1>
                <div class="log_box">
                    <ul class="log_list">
                        <li class="log_item"><a href="" class="log_link">로그인</a></li>
                        <li class="log_item"><a href="" class="log_link">회원가입</a></li>
                    </ul>
                </div>
            </div>
        </header>
        
        <nav class="main_menu">
            <h2 class="skip">메뉴</h2>
            <div class="depth1">
                <ul class="depth1_list">
                    <li class="depth1_item"><a href="" class="depth1_link">입사지원서</a></li>
                    <li class="depth1_item"><a href="" class="depth1_link">게시판</a></li>
                    <li class="depth1_item"><a href="" class="depth1_link">갤러리</a></li>
                    <li class="depth1_item"><a href="" class="depth1_link">방명록</a></li>
                </ul>
            </div>
        </nav>
        <div id="container" class="clearfix">
            
            <aside id="side">
                <div class="aside_title">
                    <div class="title_inner">
                        <h2>게시판</h2>
                    </div>
                </div>
                <nav class="aside_menu">
                    <div class="depth1">
                        <ul class="depth1_list">
                            <li class="depth1_item"><a href="" class="depth1_link">일반게시판</a></li>
                            <li class="depth1_item"><a href="" class="depth1_link">특수게시판</a></li>
                            <li class="depth1_item"><a href="" class="depth1_link">댓글게시판</a></li>
                            <li class="depth1_item"><a href="" class="depth1_link">자유게시판이 길어지면 이렇게 됩니다</a></li>
                        </ul>
                    </div>
                </nav>
            </aside>
            
            <main id="main">
                <header class="sub_head clearfix">
                    <div class="sub_title">
                        <h3>일반게시판</h3>
                    </div>
                    <nav class="path">
                        <ol class="path_list">
                            <li class="path_item"><a href="" class="path_link">홈</a></li>
                            <li class="path_item"><a href="" class="path_link">게시판</a></li>
                            <li class="path_item"><a href="" class="path_link">일반게시판</a></li>
                        </ol>
                    </nav>
                </header>
                <div id="contents">
                    <p>컨텐츠 내용</p>
                    
                </div>
            </main>
        
        </div>
        <footer id="footer">
            <div class="footer_inner">
                <p class="copyright">Copyright ⓒ 2025 Jangs. All right reserved.</p>
            </div>
        </footer>
    </div><!-- //wrap -->
</div><!-- //wrapper -->

</body>
</html>